---
import AuthenticationLayout from "../../../layouts/admin/authentication-layout.astro";
import Branding from "../../../components/common/branding.astro";
import { getAssetPrefix, getPathPrefix } from "../../../../utils/path.js";
---

<AuthenticationLayout
  title="Forgot Password"
  description="Forgot password example"
  currentPath="authentication/compact-split/forgot-password"
>
  <div class="row d-flex align-items-center min-vh-100 position-relative">
    <div class="col-12 col-lg-8 offset-lg-2">
      <!-- Theme Toggle Button -->
      <button
        class="btn p-0 border-0 shadow-none position-absolute top-0 end-0 m-3 px-3"
        id="theme-toggle"
      >
        <i class="ri-sun-line fs-5"></i>
      </button>
      <!-- Company Logo and Name -->
      <Branding brandName={false} />
      <h1 class="h4 text-center mb-3">Forgot your password?</h1>

      <!-- Main Card -->
      <div class="card shadow-sm mx-2 mx-md-auto" style="max-width: 760px;">
        <div class="card-body p-0">
          <div class="row m-0">
            <div class="col-12 col-md-6 p-4">
              <div class="text-start fs-2 mb-2">
                <i class="ri-lock-line"></i>
              </div>
              <p class="text-muted mb-4">Enter your email address below to reset your password.</p>

              <!-- Forgot Password Form -->
              <form class="text-start mb-3">
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="m@example.com"
                    required
                  />
                </div>
                <button type="submit" class="btn btn-primary w-100">Send Reset Link</button>
              </form>

              <div class="text-center">
                Remember your password? <a
                  href={getPathPrefix("/authentication/compact-split/login")}
                  class="text-decoration-none text-primary">Login</a
                >
              </div>
            </div>
            <div class="col-md-6 d-none d-md-block p-0 m-0">
              <img
                src={getAssetPrefix("/assets/svg/placeholder.svg")}
                class="img-fluid"
                alt=""
                style="object-fit: cover; width: 100%; height: 100%;"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Terms Text -->
      <div class="mx-2 mt-4 text-center text-muted small">
        By clicking continue, you agree to our
        <a href="#" class="text-decoration-none text-primary">Terms of Service</a> and
        <a href="#" class="text-decoration-none text-primary">Privacy Policy</a>.
      </div>
    </div>
  </div>
</AuthenticationLayout>
