//
// Component: Progress Bar
//

// General CSS
.progress {
  @include box-shadow(null);
  // @include border-radius($lte-progress-bar-border-radius);

  // Vertical bars
  &.vertical {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 200px;
    margin-right: 10px;

    > .progress-bar {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}

// Progress Size Variations
$progress-sizes: (
  sm: 10px,
  xs: 7px,
  xxs: 3px
) !default;

@each $size, $height in $progress-sizes {
  .progress-#{$size} {
    height: $height;

    // Apply width for vertical bars
    .vertical & {
      width: $height;
    }
  }
}

.progress-group {
  $margin-bottom: map-get($spacers, 2); // Extract value
  margin-bottom: $margin-bottom; // Assign to property
}

// Remove margins from progress bars in tables
.table tr > td .progress {
  margin: 0;
}
