---
import AuthenticationLayout from '../../../layouts/admin/authentication-layout.astro'
import { getAssetPrefix, getPathPrefix } from '../../../../utils/path.js'
---

<AuthenticationLayout
  title="Forgot Password"
  description="Forgot password example"
  currentPath="authentication/modern/forgot-password"
>
  <div
    class="d-flex justify-content-center align-items-center min-vh-100 pt-5 mt-2 pt-sm-0 mt-sm-0"
  >
    <a
      href={getPathPrefix('/')}
      class="btn btn-outline-primary position-absolute top-0 start-0 m-3"
    >
      Back
    </a>
    <a
      href={getPathPrefix('/authentication/modern/register')}
      class="btn btn-outline-primary position-absolute top-0 end-0 m-3"
    >
      Create Account
    </a>
    <div class="text-center w-100" style="max-width: 500px;">
      <!-- Main Card -->
      <div class="card m-2">
        <div class="card-body p-2">
          <!-- Company Logo -->
          <img
            src={getAssetPrefix('/assets/svg/astero-icon-color.svg')}
            alt="AsteroAdmin Logo"
            class="mb-4"
            style="width: 40px; height: 40px;"
          />
          <h4 class="card-title mb-2 fs-4">Forgot your password?</h4>
          <p class="text-muted mb-2">Enter your email address below to reset your password.</p>

          <!-- Forgot Password Form -->
          <form class="text-start mb-3">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="m@example.com"
                autocomplete="username"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary w-100">Send Reset Link</button>
          </form>

          <div class="mb-2">
            Remember your password?
            <a
              href={getPathPrefix('/authentication/modern/login')}
              class="text-decoration-none text-center">Login</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</AuthenticationLayout>
