// scss-docs-start gray-color-variables
// base colors

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
// scss-docs-end gray-color-variables

// fusv-disable
// scss-docs-start gray-colors-map
$grays: (
  '100': $gray-100,
  '200': $gray-200,
  '300': $gray-300,
  '400': $gray-400,
  '500': $gray-500,
  '600': $gray-600,
  '700': $gray-700,
  '800': $gray-800,
  '900': $gray-900
) !default;
// scss-docs-end gray-colors-map

$text-muted: $gray-500 !default;

// fusv-enable

// scss-docs-start color-variables
$sky:     #5eb9f0 !default;
$blue:    #3f78e0 !default;
$indigo:  #7e4ff6 !default;
$grape:   #605dba !default;
$purple:  #747ed1 !default;
$violet:  #a07cc5 !default;
$pink:    #d16b86 !default;
$fuchsia: #e668b3 !default;
$red:     #e2626b !default;
$orange:  #f78b77 !default;
$yellow:  #fab758 !default;
$green:   #45c4a0 !default;
$leaf:    #7cb798 !default;
$teal:    #4fd4b8 !default;
$cyan:    #5dd5f6 !default;
$aqua:    #54a8c7 !default;
$navy:    #343f52 !default;
$ash:     #9499a3 !default;
// scss-docs-end color-variables

// scss-docs-start gradient-variables
$gradient-1: linear-gradient(120deg, #f857a6 10%, #ef3f6e 100%) !default;
$gradient-2: linear-gradient(40deg, rgb(245, 177, 97, 1) 0.4%, rgb(236, 54, 110, 1) 100.2%) !default;
$gradient-3: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%) !default;
$gradient-4: linear-gradient(125deg, #9040db, #ff72c2 50%, #ffd84f) !default;
$gradient-5: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%) !default;
$gradient-6: linear-gradient(45deg, #08aeea 0%, #2af598 100%) !default;
$gradient-7: linear-gradient(100deg, #605dba 20%, #3f78e0 85%) !default;
$gradient-8: linear-gradient(0deg, #2c46a7, #3757c4) !default;
$gradient-9: linear-gradient(45deg, rgb(255, 222, 233), rgb(181, 255, 252)) !default;
// scss-docs-end gradient-variables

// scss-docs-start colors-map
$colors: (
  'sky':        $sky,
  'blue':       $blue,
  'indigo':     $indigo,
  'grape':      $grape,
  'purple':     $purple,
  'violet':     $violet,
  'pink':       $pink,
  'fuchsia':    $fuchsia,
  'red':        $red,
  'orange':     $orange,
  'yellow':     $yellow,
  'green':      $green,
  'leaf':       $leaf,
  'teal':       $teal,
  'cyan':       $cyan,
  'aqua':       $aqua,
  'navy':       $navy,
  'ash':        $ash,
  'black':      $black,
  'white':      $white,
  'gray':       $gray-600,
  'gray-dark':  $gray-800,
  'gray-100':   $gray-100,
  'gray-200':   $gray-200,
  'gray-300':   $gray-300,
  'gray-400':   $gray-400,
  'gray-500':   $gray-500,
  'gray-600':   $gray-600,
  'gray-700':   $gray-700,
  'gray-800':   $gray-800,
  'gray-900':   $gray-900
) !default;
// scss-docs-end colors-map

// scss-docs-start gradients-map
$gradients: (
  'gradient-1': $gradient-1,
  'gradient-2': $gradient-2,
  'gradient-3': $gradient-3,
  'gradient-4': $gradient-4,
  'gradient-5': $gradient-5,
  'gradient-6': $gradient-6,
  'gradient-7': $gradient-7,
  'gradient-8': $gradient-8,
  'gradient-9': $gradient-9,
) !default;
// scss-docs-end gradients-map

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio:   4.5 !default;

// Customize the light and dark text colors for use in our color contrast function.
$color-contrast-dark:      $black !default;
$color-contrast-light:     $white !default;

// fusv-disable
$sky-100: tint-color($sky, 80%) !default;
$sky-200: tint-color($sky, 60%) !default;
$sky-300: tint-color($sky, 40%) !default;
$sky-400: tint-color($sky, 20%) !default;
$sky-500: $sky !default;
$sky-600: shade-color($sky, 20%) !default;
$sky-700: shade-color($sky, 40%) !default;
$sky-800: shade-color($sky, 60%) !default;
$sky-900: shade-color($sky, 80%) !default;

$blue-100: tint-color($blue, 80%) !default;
$blue-200: tint-color($blue, 60%) !default;
$blue-300: tint-color($blue, 40%) !default;
$blue-400: tint-color($blue, 20%) !default;
$blue-500: $blue !default;
$blue-600: shade-color($blue, 20%) !default;
$blue-700: shade-color($blue, 40%) !default;
$blue-800: shade-color($blue, 60%) !default;
$blue-900: shade-color($blue, 80%) !default;

$indigo-100: tint-color($indigo, 80%) !default;
$indigo-200: tint-color($indigo, 60%) !default;
$indigo-300: tint-color($indigo, 40%) !default;
$indigo-400: tint-color($indigo, 20%) !default;
$indigo-500: $indigo !default;
$indigo-600: shade-color($indigo, 20%) !default;
$indigo-700: shade-color($indigo, 40%) !default;
$indigo-800: shade-color($indigo, 60%) !default;
$indigo-900: shade-color($indigo, 80%) !default;

$grape-100: tint-color($grape, 80%) !default;
$grape-200: tint-color($grape, 60%) !default;
$grape-300: tint-color($grape, 40%) !default;
$grape-400: tint-color($grape, 20%) !default;
$grape-500: $grape !default;
$grape-600: shade-color($grape, 20%) !default;
$grape-700: shade-color($grape, 40%) !default;
$grape-800: shade-color($grape, 60%) !default;
$grape-900: shade-color($grape, 80%) !default;

$purple-100: tint-color($purple, 80%) !default;
$purple-200: tint-color($purple, 60%) !default;
$purple-300: tint-color($purple, 40%) !default;
$purple-400: tint-color($purple, 20%) !default;
$purple-500: $purple !default;
$purple-600: shade-color($purple, 20%) !default;
$purple-700: shade-color($purple, 40%) !default;
$purple-800: shade-color($purple, 60%) !default;
$purple-900: shade-color($purple, 80%) !default;

$violet-100: tint-color($violet, 80%) !default;
$violet-200: tint-color($violet, 60%) !default;
$violet-300: tint-color($violet, 40%) !default;
$violet-400: tint-color($violet, 20%) !default;
$violet-500: $violet !default;
$violet-600: shade-color($violet, 20%) !default;
$violet-700: shade-color($violet, 40%) !default;
$violet-800: shade-color($violet, 60%) !default;
$violet-900: shade-color($violet, 80%) !default;

$pink-100: tint-color($pink, 80%) !default;
$pink-200: tint-color($pink, 60%) !default;
$pink-300: tint-color($pink, 40%) !default;
$pink-400: tint-color($pink, 20%) !default;
$pink-500: $pink !default;
$pink-600: shade-color($pink, 20%) !default;
$pink-700: shade-color($pink, 40%) !default;
$pink-800: shade-color($pink, 60%) !default;
$pink-900: shade-color($pink, 80%) !default;

$fuchsia-100: tint-color($fuchsia, 80%) !default;
$fuchsia-200: tint-color($fuchsia, 60%) !default;
$fuchsia-300: tint-color($fuchsia, 40%) !default;
$fuchsia-400: tint-color($fuchsia, 20%) !default;
$fuchsia-500: $fuchsia !default;
$fuchsia-600: shade-color($fuchsia, 20%) !default;
$fuchsia-700: shade-color($fuchsia, 40%) !default;
$fuchsia-800: shade-color($fuchsia, 60%) !default;
$fuchsia-900: shade-color($fuchsia, 80%) !default;

$red-100: tint-color($red, 80%) !default;
$red-200: tint-color($red, 60%) !default;
$red-300: tint-color($red, 40%) !default;
$red-400: tint-color($red, 20%) !default;
$red-500: $red !default;
$red-600: shade-color($red, 20%) !default;
$red-700: shade-color($red, 40%) !default;
$red-800: shade-color($red, 60%) !default;
$red-900: shade-color($red, 80%) !default;

$orange-100: tint-color($orange, 80%) !default;
$orange-200: tint-color($orange, 60%) !default;
$orange-300: tint-color($orange, 40%) !default;
$orange-400: tint-color($orange, 20%) !default;
$orange-500: $orange !default;
$orange-600: shade-color($orange, 20%) !default;
$orange-700: shade-color($orange, 40%) !default;
$orange-800: shade-color($orange, 60%) !default;
$orange-900: shade-color($orange, 80%) !default;

$yellow-100: tint-color($yellow, 80%) !default;
$yellow-200: tint-color($yellow, 60%) !default;
$yellow-300: tint-color($yellow, 40%) !default;
$yellow-400: tint-color($yellow, 20%) !default;
$yellow-500: $yellow !default;
$yellow-600: shade-color($yellow, 20%) !default;
$yellow-700: shade-color($yellow, 40%) !default;
$yellow-800: shade-color($yellow, 60%) !default;
$yellow-900: shade-color($yellow, 80%) !default;

$green-100: tint-color($green, 80%) !default;
$green-200: tint-color($green, 60%) !default;
$green-300: tint-color($green, 40%) !default;
$green-400: tint-color($green, 20%) !default;
$green-500: $green !default;
$green-600: shade-color($green, 20%) !default;
$green-700: shade-color($green, 40%) !default;
$green-800: shade-color($green, 60%) !default;
$green-900: shade-color($green, 80%) !default;

$leaf-100: tint-color($leaf, 80%) !default;
$leaf-200: tint-color($leaf, 60%) !default;
$leaf-300: tint-color($leaf, 40%) !default;
$leaf-400: tint-color($leaf, 20%) !default;
$leaf-500: $leaf !default;
$leaf-600: shade-color($leaf, 20%) !default;
$leaf-700: shade-color($leaf, 40%) !default;
$leaf-800: shade-color($leaf, 60%) !default;
$leaf-900: shade-color($leaf, 80%) !default;

$teal-100: tint-color($teal, 80%) !default;
$teal-200: tint-color($teal, 60%) !default;
$teal-300: tint-color($teal, 40%) !default;
$teal-400: tint-color($teal, 20%) !default;
$teal-500: $teal !default;
$teal-600: shade-color($teal, 20%) !default;
$teal-700: shade-color($teal, 40%) !default;
$teal-800: shade-color($teal, 60%) !default;
$teal-900: shade-color($teal, 80%) !default;

$cyan-100: tint-color($cyan, 80%) !default;
$cyan-200: tint-color($cyan, 60%) !default;
$cyan-300: tint-color($cyan, 40%) !default;
$cyan-400: tint-color($cyan, 20%) !default;
$cyan-500: $cyan !default;
$cyan-600: shade-color($cyan, 20%) !default;
$cyan-700: shade-color($cyan, 40%) !default;
$cyan-800: shade-color($cyan, 60%) !default;
$cyan-900: shade-color($cyan, 80%) !default;

$aqua-100: tint-color($aqua, 80%) !default;
$aqua-200: tint-color($aqua, 60%) !default;
$aqua-300: tint-color($aqua, 40%) !default;
$aqua-400: tint-color($aqua, 20%) !default;
$aqua-500: $aqua !default;
$aqua-600: shade-color($aqua, 20%) !default;
$aqua-700: shade-color($aqua, 40%) !default;
$aqua-800: shade-color($aqua, 60%) !default;
$aqua-900: shade-color($aqua, 80%) !default;

$navy-100: tint-color($navy, 80%) !default;
$navy-200: tint-color($navy, 60%) !default;
$navy-300: tint-color($navy, 40%) !default;
$navy-400: tint-color($navy, 20%) !default;
$navy-500: $navy !default;
$navy-600: shade-color($navy, 20%) !default;
$navy-700: shade-color($navy, 40%) !default;
$navy-800: shade-color($navy, 60%) !default;
$navy-900: shade-color($navy, 80%) !default;

$ash-100: tint-color($ash, 80%) !default;
$ash-200: tint-color($ash, 60%) !default;
$ash-300: tint-color($ash, 40%) !default;
$ash-400: tint-color($ash, 20%) !default;
$ash-500: $ash !default;
$ash-600: shade-color($ash, 20%) !default;
$ash-700: shade-color($ash, 40%) !default;
$ash-800: shade-color($ash, 60%) !default;
$ash-900: shade-color($ash, 80%) !default;

$skies: (
  'sky-100': $sky-100,
  'sky-200': $sky-200,
  'sky-300': $sky-300,
  'sky-400': $sky-400,
  'sky-500': $sky-500,
  'sky-600': $sky-600,
  'sky-700': $sky-700,
  'sky-800': $sky-800,
  'sky-900': $sky-900
) !default;

$blues: (
  'blue-100': $blue-100,
  'blue-200': $blue-200,
  'blue-300': $blue-300,
  'blue-400': $blue-400,
  'blue-500': $blue-500,
  'blue-600': $blue-600,
  'blue-700': $blue-700,
  'blue-800': $blue-800,
  'blue-900': $blue-900
) !default;

$indigos: (
  'indigo-100': $indigo-100,
  'indigo-200': $indigo-200,
  'indigo-300': $indigo-300,
  'indigo-400': $indigo-400,
  'indigo-500': $indigo-500,
  'indigo-600': $indigo-600,
  'indigo-700': $indigo-700,
  'indigo-800': $indigo-800,
  'indigo-900': $indigo-900
) !default;

$grapes: (
  'grape-100': $grape-100,
  'grape-200': $grape-200,
  'grape-300': $grape-300,
  'grape-400': $grape-400,
  'grape-500': $grape-500,
  'grape-600': $grape-600,
  'grape-700': $grape-700,
  'grape-800': $grape-800,
  'grape-900': $grape-900
) !default;

$purples: (
  'purple-100': $purple-100,
  'purple-200': $purple-200,
  'purple-300': $purple-300,
  'purple-400': $purple-400,
  'purple-500': $purple-500,
  'purple-600': $purple-600,
  'purple-700': $purple-700,
  'purple-800': $purple-800,
  'purple-900': $purple-900
) !default;

$violets: (
  'violet-100': $violet-100,
  'violet-200': $violet-200,
  'violet-300': $violet-300,
  'violet-400': $violet-400,
  'violet-500': $violet-500,
  'violet-600': $violet-600,
  'violet-700': $violet-700,
  'violet-800': $violet-800,
  'violet-900': $violet-900
) !default;

$pinks: (
  'pink-100': $pink-100,
  'pink-200': $pink-200,
  'pink-300': $pink-300,
  'pink-400': $pink-400,
  'pink-500': $pink-500,
  'pink-600': $pink-600,
  'pink-700': $pink-700,
  'pink-800': $pink-800,
  'pink-900': $pink-900
) !default;

$fuchsias: (
  'fuchsia-100': $fuchsia-100,
  'fuchsia-200': $fuchsia-200,
  'fuchsia-300': $fuchsia-300,
  'fuchsia-400': $fuchsia-400,
  'fuchsia-500': $fuchsia-500,
  'fuchsia-600': $fuchsia-600,
  'fuchsia-700': $fuchsia-700,
  'fuchsia-800': $fuchsia-800,
  'fuchsia-900': $fuchsia-900
) !default;

$reds: (
  'red-100': $red-100,
  'red-200': $red-200,
  'red-300': $red-300,
  'red-400': $red-400,
  'red-500': $red-500,
  'red-600': $red-600,
  'red-700': $red-700,
  'red-800': $red-800,
  'red-900': $red-900
) !default;

$oranges: (
  'orange-100': $orange-100,
  'orange-200': $orange-200,
  'orange-300': $orange-300,
  'orange-400': $orange-400,
  'orange-500': $orange-500,
  'orange-600': $orange-600,
  'orange-700': $orange-700,
  'orange-800': $orange-800,
  'orange-900': $orange-900
) !default;

$yellows: (
  'yellow-100': $yellow-100,
  'yellow-200': $yellow-200,
  'yellow-300': $yellow-300,
  'yellow-400': $yellow-400,
  'yellow-500': $yellow-500,
  'yellow-600': $yellow-600,
  'yellow-700': $yellow-700,
  'yellow-800': $yellow-800,
  'yellow-900': $yellow-900
) !default;

$greens: (
  'green-100': $green-100,
  'green-200': $green-200,
  'green-300': $green-300,
  'green-400': $green-400,
  'green-500': $green-500,
  'green-600': $green-600,
  'green-700': $green-700,
  'green-800': $green-800,
  'green-900': $green-900
) !default;

$leaves: (
  'leaf-100': $leaf-100,
  'leaf-200': $leaf-200,
  'leaf-300': $leaf-300,
  'leaf-400': $leaf-400,
  'leaf-500': $leaf-500,
  'leaf-600': $leaf-600,
  'leaf-700': $leaf-700,
  'leaf-800': $leaf-800,
  'leaf-900': $leaf-900
) !default;

$teals: (
  'teal-100': $teal-100,
  'teal-200': $teal-200,
  'teal-300': $teal-300,
  'teal-400': $teal-400,
  'teal-500': $teal-500,
  'teal-600': $teal-600,
  'teal-700': $teal-700,
  'teal-800': $teal-800,
  'teal-900': $teal-900
) !default;

$cyans: (
  'cyan-100': $cyan-100,
  'cyan-200': $cyan-200,
  'cyan-300': $cyan-300,
  'cyan-400': $cyan-400,
  'cyan-500': $cyan-500,
  'cyan-600': $cyan-600,
  'cyan-700': $cyan-700,
  'cyan-800': $cyan-800,
  'cyan-900': $cyan-900
) !default;

$aquas: (
  'aqua-100': $aqua-100,
  'aqua-200': $aqua-200,
  'aqua-300': $aqua-300,
  'aqua-400': $aqua-400,
  'aqua-500': $aqua-500,
  'aqua-600': $aqua-600,
  'aqua-700': $aqua-700,
  'aqua-800': $aqua-800,
  'aqua-900': $aqua-900
) !default;

$navies: (
  'navy-100': $navy-100,
  'navy-200': $navy-200,
  'navy-300': $navy-300,
  'navy-400': $navy-400,
  'navy-500': $navy-500,
  'navy-600': $navy-600,
  'navy-700': $navy-700,
  'navy-800': $navy-800,
  'navy-900': $navy-900
) !default;

$ashes: (
  'ash-100': $ash-100,
  'ash-200': $ash-200,
  'ash-300': $ash-300,
  'ash-400': $ash-400,
  'ash-500': $ash-500,
  'ash-600': $ash-600,
  'ash-700': $ash-700,
  'ash-800': $ash-800,
  'ash-900': $ash-900
) !default;
// fusv-enable

$color-groups: (
  'skies': $skies,
  'blues': $blues,
  'indigos': $indigos,
  'grapes': $grapes,
  'purples': $purples,
  'violets': $violets,
  'pinks': $pinks,
  'fuchsias': $fuchsias,
  'reds': $reds,
  'oranges': $oranges,
  'yellows': $yellows,
  'greens': $greens,
  'leaves': $leaves,
  'teals': $teals,
  'cyans': $cyans,
  'aquas': $aquas,
  'navies': $navies,
  'ashes': $ashes
) !default;
