---
import SearchModal from '../../../components/modals/search-modal.astro'
import packageJson from '../../../../../package.json'
---

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="mb-0">
          Copyright © 2025 <a href="#">Your Company</a>. All rights reserved.
        </p>
      </div>
      <div class="col-md-6 text-md-end">
        <p class="mb-0">Version {packageJson.version}</p>
      </div>
    </div>
  </div>
</footer>
<SearchModal />
